body {

    --bg: #282828;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #7c6f64;
    --fg: #ebdbb2;
    --fg1: #d5c4a1;
    --board: #fcecbb;

    --orange: #fe8019;
    --orange-alt: #d67d0e;


    --red: #fb5a48de;
    --red-alt: #fb4934;

    --green: #8ec07c;
    --green-alt: #689d6a;

    --blue: #83a598;
    --blue-alt: #458588;

    --yellow: #fabd2f;
    --yellow-alt: #d79921;

    --purple: #d3869b;
    --puple-alt: #b16286;

    font-family: 'FiraMono', monospace;
    color: var(--fg);
    background-color: var(--bg);

    padding: 2rem 4rem;
}

h1,
h2,
h3,
h4 {
    color: var(--red);
    /* filter: brightness(1.4); */
    font-family: 'FiraMono', monospace;
}

pre {
    border: 2px var(--bg2) solid;
}

a {
    color: var(--blue) !important;
}

a:visited {
    color: var(--blue-alt) !important;
}